target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
vsworkspace.code-workspace

javasource/com/mendix/core/
javasource/system/
javasource/objecthandling/
javasource/unittesting/
theme/
widgets/

deployment/

releases/

.classpath

.project

*.bak

*.launch

*.lock
proxies

.mendix-cache
.settings
.svn

.DS_Store
junit-4.11.jar
junit-4.11.jar.UnitTesting.RequiredLib
org.apache.commons.io-2.3.0.jar
org.apache.commons.io-2.3.0.jar.UnitTesting.RequiredLib
org.apache.commons.lang3.jar
org.apache.commons.lang3.jar.ObjectHandling.RequiredLib
org.apache.commons.lang3.jar.UnitTesting.RequiredLib
org.apache.httpcomponents.httpclient_4.4.1.jar
org.apache.httpcomponents.httpclient_4.4.1.jar.UnitTesting.RequiredLib
org.apache.httpcomponents.httpcore_4.4.1.jar
org.apache.httpcomponents.httpcore_4.4.1.jar.UnitTestingRequiredLib
